doctype html
html(lang="en")
    head
        title 彰商校園生活通

        meta(charset="UTF-8")

        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
        meta(http-equiv="cleartype", content="on")

        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        meta(name="mobile-web-app-capable", content="yes")
        meta(name="mobile-web-app-status-bar-style", content="black")

        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")

        script(src="src/bower_components/webcomponentsjs/webcomponents-lite.min.js")
        //- script(src="dist/webcomponents-lite.min.js")

        script.
            window.Polymer = {
                dom: 'shady',
                lazyRegister: true
            };

        style.
            html, body {
                font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Roboto, Noto, STXihei, sans-serif !important;
                height: 100%;
                padding: 0;
                margin: 0;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                background: #f1f1f1;
            }
            lark-app {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }

        link(rel="import", href="src/lark-app.html")
        //- link(rel="import", href="dist/lark-app.html")

    body
        lark-app Loading...
