<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="bower_components/google-signin/google-signin.html">
<link rel="import" href="lark-repair.html">
<dom-module id="lark-app">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            --primary-color: var(--paper-blue-500);
            --font-family: "Hiragino Sans GB", "华文细黑", "STHeiti", "微软雅黑", "Microsoft YaHei", SimHei, "Helvetica Neue", Roboto, Noto, STXihei, sans-serif !important;
        }
        
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
            background: var(--paper-grey-100);
            font-family: var(--font-family);
        }
        
        :host paper-header-panel {
            --paper-header-panel-waterfall-container: {
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
            }
        }
        
        :host paper-listbox {
            padding: 0;
        }
        
        :host paper-icon-item {
            color: rgba(0, 0, 0, .87);
        }
        
        :host paper-icon-item:hover {
            background-color: rgba(0, 0, 0, .087);
            cursor: pointer;
        }
        
        :host iron-pages {
            position: relative;
        }
        
        :host google-signin {
            margin: 0;
        }
        
        .app-title {
            font-size: 20px;
            font-family: var(--font-family);
        }
        
        .bottom-listbox {
            border-top: 1px solid #ddd;
            padding: 8px;
        }
        
        @media (min-width: 1025px) {
            :host [main] paper-toolbar {
                display: none;
            }
        }
    </style>
    <template>
        <paper-drawer-panel id="drawer" responsive-width="1024px">
            <paper-header-panel mode="waterfall" drawer>
                <paper-toolbar>
                    <paper-button class="app-title" onclick="window.open('http://w2.chsc.tw/', '_blank')">彰商校園生活通</paper-button>
                </paper-toolbar>
                <div class="fit layout vertical">
                    <paper-listbox class="flex-auto" selected="{{currentModule.key}}" attr-for-selected="module">
                        <paper-icon-item module="lark-repair">
                            <iron-icon icon="icons:build" item-icon></iron-icon>
                            校園巡管系統
                        </paper-icon-item>
                    </paper-listbox>
                    <div class="bottom-listbox layout vertical">
                        <google-signin id="googleSignin" class="flex-auto" theme="light" label-signin="登入 Google" label-signout="登出 [[currentUser.Name]]" on-google-signin-success="_signinSuccess" on-google-signed-out="_signedOut" client-id="[[client_id]]" scopes="[[scopes]]"></google-signin>
                    </div>
                </div>
            </paper-header-panel>
            <div class="layout vertical" main>
                <paper-toolbar>
                    <paper-icon-button icon="icons:menu" paper-drawer-toggle></paper-icon-button>
                    <div class="title">{{currentModule.title}}</div>
                </paper-toolbar>
                <iron-pages id="modulePages" class="flex-auto" selected="[[currentModule.key]]" attr-for-selected="module">
                    <lark-repair id="larkRepair" class="fit" module="lark-repair"></lark-repair>
                </iron-pages>
            </div>
        </paper-drawer-panel>
    </template>
    <script>
        Polymer({

            is: 'lark-app',

            ready: function() {
                this.set('currentModule', {
                    key: 'lark-repair',
                    title: '校園巡管系統',
                });

                this.set('client_id', '200605636380-64g2v914v1dg9jaqk8aj4e6gc34vd8o2.apps.googleusercontent.com');
                this.set('scopes', ['https://www.googleapis.com/auth/plus.me'].join(' '));
            },

            _signinSuccess: function(e) {
                const GoogleUser = gapi.auth2.getAuthInstance()['currentUser'].get();
                const BasicProfile = GoogleUser.getBasicProfile();

                if (!GoogleUser.getAuthResponse().access_token)
                    this.$.googleSignin.signOut();
                else {
                    this.set('currentUser', {
                        ID: BasicProfile.getId(),
                        Name: BasicProfile.getName(),
                        GivenName: BasicProfile.getGivenName(),
                        FamilyName: BasicProfile.getFamilyName(),
                        ImageUrl: BasicProfile.getImageUrl(),
                        Email: BasicProfile.getEmail(),
                        AccessToken: GoogleUser.getAuthResponse().access_token
                    });

                    this.fire('currentUser', {
                        currentUser: this.currentUser
                    });

                    console.log(this.currentUser);
                }
            },

            _signedOut: function(e) {
                this.set('currentUser', null);
                this.fire('currentUser', {
                    currentUser: null
                });
            }
        });
    </script>
</dom-module>
