<link rel="import" href="bower_components/polymer/polymer.html">
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="bower_components/iron-icons/iron-icons.html">
<link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="bower_components/iron-selector/iron-selector.html">
<link rel="import" href="bower_components/iron-pages/iron-pages.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-card/paper-card.html">
<link rel="import" href="bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="bower_components/paper-input/paper-textarea.html">
<link rel="import" href="bower_components/paper-item/paper-item.html">
<link rel="import" href="bower_components/paper-toast/paper-toast.html">
<link rel="import" href="bower_components/google-signin/google-signin.html">
<link rel="import" href="bower_components/moment-element/moment-with-locales-import.html">
<link rel="import" href="bower_components/paper-datatable/paper-datatable.html">
<link rel="import" href="bower_components/paper-datatable/paper-datatable-column.html">
<dom-module id="lark-repair">
    <style include="iron-flex iron-flex-alignment iron-flex-factors iron-positioning"></style>
    <style>
        :host {
            display: block;
            position: relative;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            height: 100%;
        }
        
        :host paper-dropdown-menu {
            --paper-dropdown-menu: {
                width: 320px;
            }
        }
        
        .content {
            max-width: 963px;
            margin: 0 auto;
        }
        
        .section {
            margin-top: 16px;
        }
        
        .mainAreaImg {
            margin-top: 16px;
        }
        
        .mainAreaImg img {
            max-width: 100%;
            /*max-height: 400px;*/
            cursor: pointer;
        }
        
        .captureImageButton {
            background: #fff;
            color: #737373;
            border: 1px solid #d9d9d9;
            margin: 0;
            padding: 5px 9px;
        }
        
        .captureImageTitle {
            margin-left: 8px;
        }
        
        .uploadImg {
            margin-top: 16px;
        }
        
        .uploadImg img {
            max-width: 100%;
            /*max-height: 400px;*/
            cursor: pointer;
        }
        
        .submitButton {
            background: var(--primary-color);
            color: #fff;
            padding: 9px 12px;
        }
        
        @media (min-width: 964px) {
            :host .content {
                padding: 16px;
            }
        }
        
        @media (max-width: 963px) {
            :host .content {
                background: #fff;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
            :host paper-card {
                box-shadow: none;
                border: none;
            }
        }
        
        @media (max-width: 1024px) {
            :host paper-toolbar {
                display: none;
            }
        }
    </style>
    <template>
        <paper-header-panel mode="waterfall" drawer>
            <paper-toolbar>
                <div class="title">校園巡管系統</div>
            </paper-toolbar>
            <div class="content">
                <iron-selector selected="{{page}}" attr-for-selected="value">
                    <paper-button value="report">修繕填報</paper-button>
                    <paper-button value="record">修繕記錄</paper-button>
                </iron-selector>
                <iron-pages class="flex-auto layout vertical" selected="[[page]]" attr-for-selected="value">
                    <paper-card class="flex-auto" heading="修繕填報單" value="report">
                        <div class="card-content">
                            <div>請將發現問題依序填寫即可完成報修程序，總務處接收報修單後，如果有校方可自行處理的部分，將盡速修復。若需招商，將依校內採購程序辦理。</div>
                            <div class="section">
                                <div class="layout horizontal center">
                                    <paper-dropdown-menu label="修繕地點">
                                        <paper-listbox class="dropdown-content" selected="{{selectedMainArea}}" attr-for-selected="value">
                                            <template is="dom-repeat" items="[[mainArea]]" as="area">
                                                <paper-item value="[[area]]">[[area.title]]</paper-item>
                                            </template>
                                        </paper-listbox>
                                    </paper-dropdown-menu>
                                </div>
                                <div class="mainAreaImg">
                                    <img src$="[[selectedMainArea.url]]" />
                                </div>
                            </div>
                            <div class="section">
                                <div class="layout horizontal center">
                                    <paper-dropdown-menu label="修繕項目">
                                        <paper-listbox class="dropdown-content" selected="{{selectedMainArea.selectedSubItem}}" attr-for-selected="value">
                                            <template is="dom-repeat" items="[[selectedMainArea.items]]">
                                                <paper-item value="[[item]]">[[item.title]]</paper-item>
                                            </template>
                                        </paper-listbox>
                                    </paper-dropdown-menu>
                                </div>
                            </div>
                            <div class="section">
                                <div class="layout horizontal center">
                                    <paper-textarea class="flex-auto" label="異常損壞情形說明" value="{{selectedMainArea.description}}" always-float-label></paper-textarea>
                                </div>
                            </div>
                            <div class="section">
                                <div class="layout horizontal center">
                                    <input type="file" id="captureImage" accept="image/*" hidden />
                                    <paper-button class="captureImageButton" on-tap="_captureImage">
                                        <iron-icon icon="icons:camera-enhance"></iron-icon>
                                        <span class="captureImageTitle">拍攝或選取現況圖</span>
                                    </paper-button>
                                </div>
                                <div class="uploadImg">
                                    <img src$="[[selectedMainArea.uploadImg]]" />
                                </div>
                            </div>
                            <div class="section layout horizontal center">
                                <div class="flex-auto"></div>
                                <paper-button class="submitButton" raised on-tap="_sendReport" hidden$="[[currentUser]]">【匿名訪客】提交</paper-button>
                                <paper-button class="submitButton" raised on-tap="_sendReport" hidden$="[[!currentUser]]">【[[currentUser.Name]]】提交</paper-button>
                            </div>
                        </div>
                    </paper-card>
                    <paper-card class="flex-auto" heading="修繕記錄表" value="record">
                        <div class="card-content">
                            <paper-datatable data="[[records]]">
                                <paper-datatable-column header="現況圖" property="captureImage">
                                    <template><img src$="[[value]]" style="width:80px"></template>
                                </paper-datatable-column>
                                <paper-datatable-column header="修繕項目" property="name"></paper-datatable-column>
                                <paper-datatable-column header="異常損壞情形說明" property="description"></paper-datatable-column>
                                <paper-datatable-column header="申請者" property="author">
                                    <template><span>{{value.name}}</span></template>
                                </paper-datatable-column>
                                <paper-datatable-column header="申請時間" property="timestamp">
                            </paper-datatable>
                        </div>
                    </paper-card>
                </iron-pages>
            </div>
        </paper-header-panel>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        Polymer({

            is: 'lark-repair',

            properties: {
                currentUser: {
                    type: Object,
                    value: null
                },
                mainArea: Array,
                selectedMainArea: {
                    type: Object,
                    observer: '_mainArearObserver'
                }
            },

            observers: ['_pageObserver(page)'],

            _mainArearObserver: function(newValue, oldValue) {
                if (newValue && newValue.items) {
                    setTimeout(() => {
                        this.set('selectedMainArea.selectedSubItem', newValue.items[0]);
                    }, 100);
                }
            },

            _pageObserver: function(page) {
                if (page === 'record') {
                    const ajax = document.createElement('iron-ajax');
                    ajax.method = 'GET';
                    ajax.contentType = 'application/json';
                    ajax.handleAs = 'json';
                    ajax.url = '/repair/records';
                    ajax.addEventListener('response', event => {
                        this.set('records', event.detail.response);
                    });
                    ajax.generateRequest();
                }
            },

            _initCaptureImageEvent: function() {
                this.$.captureImage.addEventListener('click', () => {
                    this.value = null;
                }, false);

                this.$.captureImage.addEventListener('change', (evt) => {
                    evt.stopPropagation();
                    evt.preventDefault();
                    var file = evt.dataTransfer !== undefined ? evt.dataTransfer.files[0] : evt.target.files[0];
                    var reader = new FileReader();
                    reader.onload = ((theFile) => {
                        return (e) => {
                            var image = new Image();
                            image.src = e.target.result;
                            image.onload = () => {
                                var canvas = document.createElement('canvas');
                                canvas.width = image.width > 640 ? 640 : image.width;
                                canvas.height = image.width > 640 ? image.height * (640 / image.width) : image.height;
                                var ctx = canvas.getContext('2d');
                                ctx.drawImage(image, 0, 0, canvas.width, canvas.height);
                                this.set('selectedMainArea.uploadImg', canvas.toDataURL());
                            }
                        };
                    })(file);
                    reader.readAsDataURL(file);
                });
            },

            ready: function() {
                this.set('mainArea', [{
                    code: 'A001',
                    title: 'A001 力行樓',
                    url: 'https://drive.google.com/uc?export=view&id=0B3ce6Et8YFc1ZFd3QmhOTUxjNXc',
                    items: [{
                        code: 'A00101',
                        title: 'A00101 門市服務教室'
                    }, {
                        code: 'A00102',
                        title: 'A00102 門市服務倉儲教室'
                    }, {
                        code: 'A00103',
                        title: 'A00103 行銷實務教室'
                    }, {
                        code: 'A00104',
                        title: 'A00104 社聯會'
                    }, {
                        code: 'A00105',
                        title: 'A00105 語言教室'
                    }, {
                        code: 'A00106',
                        title: 'A00106 第一會議室'
                    }, {
                        code: 'A00107',
                        title: 'A00107 自學教室'
                    }, {
                        code: 'A00108',
                        title: 'A00108 護理教室'
                    }, {
                        code: 'A00109',
                        title: 'A00109 男廁'
                    }, {
                        code: 'A00110',
                        title: 'A00110 女廁'
                    }, ]
                }, {
                    code: 'A002',
                    title: 'A002 合作樓',
                    url: 'https://drive.google.com/uc?export=view&id=0B3ce6Et8YFc1ZTZFdVo3TndRaWs',
                    items: [{
                        code: 'A00201',
                        title: 'A00201 中餐烹飪教室'
                    }, {
                        code: 'A00202',
                        title: 'A00202 餐飲服務實習中心'
                    }, {
                        code: 'A00203',
                        title: 'A00203 烘焙教室'
                    }, {
                        code: 'A00204',
                        title: 'A00204 洗車場庫房'
                    }, {
                        code: 'A00205',
                        title: 'A00205 美容美髮器材室'
                    }, {
                        code: 'A00206',
                        title: 'A00206 美容美髮工作室'
                    }, {
                        code: 'A00207',
                        title: 'A00207 桌球室'
                    }]
                }, {
                    code: 'A003',
                    title: 'A003 廣藝館',
                    url: 'https://drive.google.com/uc?export=view&id=0B3ce6Et8YFc1azc1TE11NWNzTDQ',
                    items: [{
                        code: 'A00301',
                        title: 'A00301 生物化學實驗室'
                    }, {
                        code: 'A00302',
                        title: 'A00302 生物化學實驗器材室'
                    }, {
                        code: 'A00303',
                        title: 'A00303 印刷室'
                    }, {
                        code: 'A00304',
                        title: 'A00304 技工室'
                    }, {
                        code: 'A00305',
                        title: 'A00305 庫房'
                    }, {
                        code: 'A00306',
                        title: 'A00306 水電材料庫房'
                    }, {
                        code: 'A00307',
                        title: 'A00307 物理地科實驗室'
                    }, {
                        code: 'A00308',
                        title: 'A00308 物理地科實驗器材室'
                    }, {
                        code: 'A00309',
                        title: 'A00309 自然教室'
                    }, {
                        code: 'A00310',
                        title: 'A00310 廣藝館機房'
                    }]
                }]);

                this.set('selectedMainArea', this.mainArea[0]);
                this.set('selectedMainArea.selectedSubItem', this.selectedMainArea.items[0]);

                this.set('page', 'report');

                this._initCaptureImageEvent();

                document.querySelector('lark-app').addEventListener('currentUser', (e) => {
                    this.set('currentUser', e.detail.currentUser);
                });
            },

            _captureImage: function() {
                this.$.captureImage.click();
            },

            _sendReport: function() {
                const ajax = document.createElement('iron-ajax');
                ajax.method = 'POST';
                ajax.contentType = 'application/json';
                ajax.handleAs = 'json';
                ajax.url = '/repair/report';
                ajax.body = {
                    author: {
                        name: this.currentUser ? this.currentUser.Name : 'anonymous',
                        email: this.currentUser ? this.currentUser.Email : ''
                    },
                    code: this.selectedMainArea.selectedSubItem.code,
                    name: this.selectedMainArea.selectedSubItem.title,
                    description: this.selectedMainArea.description,
                    captureImage: this.selectedMainArea.uploadImg
                };
                ajax.addEventListener('response', event => {
                    this.$.toast.show({
                        text: '報修程序完成!',
                        duration: 1000
                    });
                });
                ajax.generateRequest();
            }
        });
    </script>
</dom-module>
